<footer class="text-center">
	<p><br>&copy<span id="currentYear"></span> Eventoo<br>Apache Licence 2.0</br>
	<a href="https://github.com/mundomecatronico/eventoo" target="_blank">Created By: Mundo Mecatrónico</carlosmart7104@gmail.com></a></p>
</footer>
<script type="text/javascript">
	document.getElementById('currentYear').innerHTML = (new Date().getFullYear());
</script>