<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="scroll-button" onclick="scroll_to();">
  <i class="fa fa-angle-down" style="font-size: 50px;"></i>
</div>

<div id="eventoo" class="screen">
  <div class="container">
    <div class="row align-self-center justify-content-center">
      <div class="cover-page text-center">
        <h1 class="cover-title">Eventoo.</h1>
        <p class="cover-text">The Landing Page Template For Events</p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div id="speakers" class="screen">
    <h3 class="smooth-light">speakers</h3>
    <p></p>
  </div>
  <div id="schedule" class="screen">
    <h3 class="smooth-light">schedule</h3>
    <p></p>
  </div>
  <div id="sponsors" class="screen">
    <h3 class="smooth-light">sponsors</h3>
    <p></p>
  </div>
  <div id="location" class="screen">
    <h3 class="smooth-light">location</h3>
    <p></p>
  </div>
  <div id="aboutus" class="screen">
    <h3 class="smooth-light">about us</h3>
    <p></p>
  </div>
</div>

  <% include ../partials/footer.ejs %>

</body>
</html>
